<header>
    <nav>
        <a href="/">Issue Tracker</a>
        <ul>
            <li><a href="/issues">Issues</a></li>
            <li><a href="/issues/new">New Issue</a></li>
        </ul>
    </nav>
</header>