<h2 class="page-header">New Issue</h2>
<form action="/issues" method="POST">
    <%- include('../issues/_form_field.ejs') %>
    <a href="/">Cancel</a>
    <button type="submit">Add Issue</button>
</form>
